# Data files (.sav, .rar) are not version controlled
# Bundled sample data (rain.dta, temp.dta, rain.csv, temp.csv) ARE tracked

*.sav
*.rar
*.stpr
*.smcl
*.png
*.log
*.code-workspace
codex_*.do
rainfall_stats.dta
